.custom-asset-money-maker-one-column
  .custom-asset-money-maker-one-column__container
    .custom-asset-money-maker-one-column__title(v-html='props.title')
    .custom-asset-money-maker-one-column__content(v-html='props.content') 
      
