.custom-financial-investments-philosophy
  .custom-financial-investments-philosophy__bg
    .custom-financial-investments-philosophy__container
      .custom-financial-investments-philosophy__title(v-html='props.title')
      .custom-financial-investments-philosophy__content(v-html='props.content')
