.page-about
  Loader(v-if='loading')
  div(v-if='!loading && props')
    Hero(:props='props')
    CustomAboutIntro(:props='props.acf.custom_about_intro')
    BlockParallax(:props='props')
    CustomAboutTwoColumns(:props='props.acf.custom_about_two_columns')
    CustomAboutOneColumn(:props='props.acf.custom_about_one_column')
    CustomAboutThreeColumns(:props='props.acf.custom_about_three_columns')
