.page-about
  Loader(v-if='loading')
  div(v-if='!loading')
    Hero(:props='props')
    CustomAboutIntro(:props='props')
    BlockParallax(:props='props')
    CustomAboutTwoColumns(:props='props')
    CustomAboutOneColumn(:props='props')
    CustomAboutThreeColumns(:props='props')
