.page-about
  Loader(v-if='loading')
  div(v-if='!loading')
    Hero(:props='props')
    CustomAboutIntro(:props='props')
    BlockParallax(:props='props')
    BlockTwoColumns(:props='props')
    pre {{ props }}
