.custom-home-featured
  .custom-home-featured__bg
    .custom-home-featured__container
      .custom-home-featured__intro
        .custom-home-featured__intro--title
          | Featured Properties
        .custom-home-featured__intro--content
          | {{ props.content }}
          router-link.custom-home-featured__intro--link(to='/properties')
            | View All Properties
            .custom-home-featured__intro--carot
              Icon(name='Arrow')
      hr
      .custom-home-featured__property-list
        //- 3 is the Feature Property Category ID
        .custom-home-featured__property-listing(v-for='(property, i) in blog', :key='i', v-if='property.categories.includes(3)')
          .custom-home-featured__property-listing--box
            img.custom-home-featured__property-listing--image(:src='property.acf.background_image', @click='mobileClick(i)')
            .custom-home-featured__property-listing--title(:class='{ "custom-home-featured__property-listing--title-active": showInfo === i }')
              | {{ property.title.rendered }}
              .custom-home-featured__property-listing--carot
                Icon(name='Arrow')
                
              .custom-home-featured__property-listing--description
                | {{ property.acf.description }}
              .custom-home-featured__property-listing--link
                router-link(:to='property.slug')
                  | Click to Read More
                  .custom-home-featured__property-listing--carot
                    Icon(name='Arrow')
              
              
