.custom-home-featured
  .custom-home-featured__bg
    .custom-home-featured__container
      .custom-home-featured__intro
        .custom-home-featured__intro--title
          | Featured Properties
        .custom-home-featured__intro--content(v-html='props.content')
