.custom-home-featured
  margin-bottom: 3rem

  &__container
    @extend .container-fluid

  &__intro
    display: flex
    margin: 4rem 0 0
    width: 100%

    &--title
      @extend .col-sm-5
      color: $c1
      font-size: 42px
      font-weight: 300

    &--content
      @extend .col-sm-7
      margin-top: 8px
      font-size: 18px

    &--link
      text-transform: uppercase
      text-decoration: none
      font-weight: 700

  hr
    margin: 2rem 0
    border-top: 1px solid #f3f3f3

  &__property-listing
    @extend .col-sm-4
    margin: 0
    padding: 0


    &--box
      display: block
      position: relative
      width: 100%
      overflow: hidden

    &--title
      position: absolute
      bottom: -350px
      margin-bottom: 4px
      background: rgba(25, 48, 88, .7)
      padding: 16px 0 24px 16px
      width: 98%
      height: 423px
      color: $c3
      font-size: 24px
      -webkit-transition: all 0.6s ease
      -moz-transition:    all 0.6s ease
      -o-transition:      all 0.6s ease

      &:hover
        bottom: 0

    &--description
      margin-top: 24px
      color: $c3
      font-size: 16px

    &--link
      font-size: 16px
      font-weight: 700
