.custom-home-about
  .custom-home-about__section(v-for='(section, i) in props', :key='i', :class="{ 'custom-home-about__section--alt': i % 2 }")
    .custom-home-about__left(:style="{ backgroundImage: 'url(' + section.image + ')'}")
    .custom-home-about__right
      .custom-home-about__content
        .custom-home-about__title(v-html='section.title')
        .custom-home-about__body(v-html='section.body ')
        .custom-home-about__link-box
          router-link.custom-home-about__link(v-for='(link, i) in section.links', :key='i', :to='link.href')
            | {{ link.label }}
            Icon.custom-home-about__carot(name='Arrow')
