.custom-partnerships-one-column
  .custom-partnerships-one-column__container
    .custom-partnerships-one-column__title(v-html='props.title')
    .custom-partnerships-one-column__content(v-html='props.content') 
      
