.custom-financial-investments-investment
  .custom-financial-investments-investment__bg
    .custom-financial-investments-investment__container
      .custom-financial-investments-investment__title(v-html='props.title')
      .custom-financial-investments-investment__content(v-html='props.content')
