.custom-green-initiative-two-columns
  .custom-green-initiative-two-columns__container
    .custom-green-initiative-two-columns__title(v-html='props.title')
    .custom-green-initiative-two-columns__content(v-html='props.content')
