.custom-properties-list
  margin: 2rem 0

  &__container
    @extend .container-fluid

  &__filterbox
    @extend .col-sm-3

  &__listingbox
    @extend .col-sm-9

  &__type, &__location

    &--options
      display: block

    &--label
      display: inline

  &__listing
    @extend .col-sm-4

    &--image
      width: 100%
