.custom-properties-list
  .custom-properties-list__container
    .custom-properties-list__filterbox
      .custom-properties-list__type
        .custom-properties-list__type--title
          | Type
        label.custom-properties-list__type--options
          input.custom-properties-list__type--radio-btn(type='radio', value='All', v-model='selectedProperties')
          .custom-properties-list__type--label 
            | All
        label.custom-properties-list__type--options(v-for='type in types')
          input.custom-properties-list__type--radio-btn(type='radio', :value='type.propertyType', v-model='selectedProperties', v-on:click='duplicateType')
          .custom-properties-list__type--label 
            | {{ type.propertyType }}
          //- label.custom-properties-list__type--options
          //-   input.custom-properties-list__type--radio-btn(type='radio', value='office', v-model='selectedProperties')
          //-   .custom-properties-list__type--label 
          //-     | Office
          //- label.custom-properties-list__type--options
          //-   input.custom-properties-list__type--radio-btn(type='radio', value='industrial', v-model='selectedProperties')
          //-   .custom-properties-list__type--label 
          //-     | Industrial
          //- 
          //- label.custom-properties-list__type--options
          //-   input.custom-properties-list__type--radio-btn(type='radio', value='agricultural', v-model='selectedProperties')
          //-   .custom-properties-list__type--label 
          //-     | Agricultural
            
    .custom-properties-list__listingbox
      .custom-properties-list__listing(v-for='(property, i) in filteredProperties')
        figure.custom-properties-list__listing--box
          img.custom-properties-list__listing--image(:src='property.acf.background_image')
          figcaption.custom-properties-list__listing--title
            | {{ property.acf.property_type }}
          
          
          
          

      
