.custom-properties-list(v-if='$store.state.activeProps')
  .custom-properties-list__container    
    .custom-properties-list__filters
      .custom-properties-list__filter-box(v-for='(parent, i) in categories', :key='i' v-if='parent.slug !== "uncategorized" && parent.slug !== "featured"')
        .custom-properties-list__header {{ parent.slug }}
        .custom-properties-list__filter(v-for='(child, j) in parent.children', :key='j' @click='selectCategories(child)', :class='{ active: $store.state.activeCats.includes(child), dropdown: child.children.length > 0 }')
          .custom-properties-list__filter--headers
            Icon.custom-properties-list__filter--carot(name='Carot' v-if='child.children.length > 0 && $store.state.activeCats.includes(child)')
            span(v-html='child.name')
          .custom-properties-list__cities(v-show='$store.state.activeCats.includes(child) && child.children.length > 0')
            .custom-properties-list__city(v-for='(grand, k) in child.children', :key='k', :class='{ active: $store.state.activeCats.includes(grand) }', @click.stop='selectCategories(grand)')
              | {{ grand.name }}

    .custom-properties-list__properties
      router-link.custom-properties-list__property(v-for='(property, i) in $store.state.activeProps', :key='i', :to='property.slug')
        img.custom-properties-list__property-image(:src='property.acf.background_image')
        .custom-properties-list__property-card 
          .custom-properties-list__property-title
            .custom-properties-list__property-text(v-html='property.acf.name')
            Icon.custom-properties-list__property-carot(name='Arrow')
          .custom-properties-list__property-description(v-html='property.acf.description')
          

      
