.custom-properties-list(v-if='blog && filtering')
  .custom-properties-list__container
    .custom-properties-list__filterbox
      .custom-properties-list__clear-filter
        .custom-properties-list__clear-filter--btn(@click='clearFilter')
          | Clear Filter Selection
      
      .custom-properties-list__type
        .custom-properties-list__type--title
          | Type
          span.custom-properties-list__type--arrow(@click='hideType()')
            Icon(name='Arrow')
        transition(name='slide-fade')
          .custom-properties-list__type--boxs(v-show='typeFilter === "Active"')
            label.custom-properties-list__type--options(v-for='propertyType in propertyTypes')
              input.custom-properties-list__type--radio-btn(type='radio', :value='propertyType.type', v-model='selectedProperties')
              .custom-properties-list__type--label 
                | {{ propertyType.type }}
      transition(name='slide-fade')
        .custom-properties-list__location(v-show='selectedLocations === "All"')
          .custom-properties-list__location--title
            | Location
            span.custom-properties-list__location--arrow(@click='hideLocation()')
              Icon(name='Arrow')
          transition(name='slide-fade')
            .custom-properties-list__location--box(v-show='locationFilter === "Active"')
              label.custom-properties-list__location--options(v-for='(propertyLocation, i) in propertyLocations', :key='i')
                input.custom-properties-list__location--radio-btn(type='radio', :value='propertyLocation.location.state', v-model='selectedLocations', @click='locationSelect(i)')
                .custom-properties-list__location--label
                  | {{ propertyLocation.location.state }}
      transition(name='slide-fade')  
        .custom-properties-list__city(v-show='selectedLocations !== "All"')
          .custom-properties-list__city--title
            | Location
            span.custom-properties-list__city--arrow(@click='hideState()')
              Icon(name='Arrow')
          transition(name='slide-fade')
            .custom-properties-list__city--box(v-show='cityFilter === "Active"')
              label.custom-properties-list__city--selected-state(@click='clearCity()')
                span.custom-properties-list__city--left-arrow
                  Icon(name='Arrow')
                span.custom-properties-list__city--selection
                  | {{ selectedLocations }}
              label.custom-properties-list__city--options(v-for='(propertyCity, i) in propertyCities', :key='i')
                input.custom-properties-list__city--radio-btn(type='radio', :value='propertyCity.city', v-model='selectedCities')
                .custom-properties-list__city--label 
                  | {{ propertyCity.city }}
                  
    .custom-properties-list__listingbox
      .custom-properties-list__listing(v-for='(property, i) in filteredProperties')
        .custom-properties-list__listing--box
          img.custom-properties-list__listing--image(:src='property.acf.background_image')
          .custom-properties-list__listing--title
            | {{ property.acf.name }}
            span.yellow-arrow 
              |   > 
              
            .custom-properties-list__listing--description
              | {{ property.acf.description }}
            .custom-properties-list__listing--link
              router-link(:to='property.slug')
                | Click to Read More
              span.yellow-arrow
                |  >

          
          
          
          

      
