<div class="form-main">

  <div class="form-main__success-message" v-if='formSubmitted'>
    <h2>Thanks for submitting our form!</h2>
  </div>

  <form class='form-main__form' @submit.prevent='validateBeforeSubmit' v-if='!formSubmitted'>

    <!-- name field -->
    <div class="form-main__group">
      <label class="form-main__label">Name</label>
      <input class="form-main__input" name="name" v-model="name" :validate="'required|alpha'" :class="{ 'form-main__input--error': errors.has('name') }" type="text" placeholder="Name">
      <span class="form-main__group__message" v-show="errors.has('name')">{{ errors.first('name') }}</span>
    </div>

    <!-- email field -->
    <div class="form-main__group">
      <label class="form-main__label">Email</label>
      <input class="form-main__input" name='email' v-model='email' v-validate="'required|email'" :class="{ 'input': true, 'form-main__input--error': errors.has('email') }" placeholder="Email">
      <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
    </div>
    

    <!-- textarea -->
    <!-- <div class="form-main__group">
      <label class="form-main__label">Your message</label>
      <textarea cols="30" rows="10" class="form-main__textarea"></textarea>
    </div> -->

    <input class='form-main__submit-button' type="submit">
  </form>  
</div>
