.custom-partnerships-two-columns
  .custom-partnerships-two-columns__container
    .custom-partnerships-two-columns__title(v-html='props.title')
    .custom-partnerships-two-columns__content(v-html='props.content')
