.custom-about-intro
  .custom-about-intro__bg
    .custom-about-intro__container
      .custom-about-intro__title(v-html='props.acf.custom_about_intro.title')
      .custom-about-intro__subtitle(v-html='props.acf.custom_about_intro.subtitle')
      .custom-about-intro__content(v-html='props.acf.custom_about_intro.content')
