.custom-green-initiative-one-column
  .custom-green-initiative-one-column__container
    .custom-green-initiative-one-column__title(v-html='props.title')
    .custom-green-initiative-one-column__content(v-html='props.content') 
      
