.custom-about-one-column
  .custom-about-one-column__container
    .custom-about-one-column__title(v-html='props.acf.custom_about_one_column.title')
    .custom-about-one-column__content(v-html='props.acf.custom_about_one_column.content') 
      
