.pages-private-equity
  Loader(v-if='loading')
  div(v-if='props && !loading')
    Hero(:props='props')
    CustomPrivateEquityDirect(:props='props.acf.custom_private_equity_direct')
    CustomPrivateEquityParticipation(:props='props.acf.custom_private_equity_participation')
