.custom-sports-entertainment-nhl
  .custom-sports-entertainment-nhl__container
    .custom-sports-entertainment-nhl__col--right.custom-sports-entertainment-nhl__mb-20
        img.custom-sports-entertainment-nhl__image(:src='props.limage')
    .custom-sports-entertainment-nhl__col--left
      h2.custom-sports-entertainment-nhl__title(v-html='props.title')
      .custom-sports-entertainment-nhl__content(v-html='props.content')
    .custom-sports-entertainment-nhl__col--right
      a(href='https://www.seattlekrakenhockey.com/', target='_blank')
        img.custom-sports-entertainment-nhl__image(:src='props.image')
