.custom-sports-entertainment-nhl
  .custom-sports-entertainment-nhl__container
    .custom-sports-entertainment-nhl__col--left
      h2.custom-sports-entertainment-nhl__title(v-html='props.title')
      .custom-sports-entertainment-nhl__content(v-html='props.content')
    .custom-sports-entertainment-nhl__col--right
      img.custom-sports-entertainment-nhl__image(:src='props.image')
