.slider-property
  .slider-property__container
    //- pre {{ blog }}
    .slider-property__slider(v-slider-property-directive='')
      .slider-property__slide(v-for='slide in blog.acf.slideshow', :style="{ backgroundImage: 'url('+ slide.image +')' }")
