.custom-asset-money-maker-two-columns
  .custom-asset-money-maker-two-columns__container
    .custom-asset-money-maker-two-columns__title(v-html='props.title')
    .custom-asset-money-maker-two-columns__content(v-html='props.content')
