<div class='home-section' :class='name'>
  <loader v-show='loading'></loader>

  <br>
  <br>
  <br>

  <bootstrap-component></bootstrap-component>

  <br>
  <br>
  <br>

  <h2>Home Props Example below</h2>
  <h3>{{ message }}</h3>
  <pre>{{ props }}</pre>
  <ul v-if='errors && errors.length'>
    <li v-for='error of errors'>
      {{ error.message }}
    </li>
  </ul>

  <br>
  <br>
  <br>

  <child message="I'm a child component props value"></child>
  <main-video v-if='!loading' :vid='videosource'></main-video>
</div>
