.pages-home
  Loader(v-show='loading')
  div(v-if='props && !loading && blog')
    HeroHome(:props='props.acf.hero')
    CustomHomeFeatured(:props='props.acf.custom_home_featured', :blog='blog')
    CustomHomeAbout(:props='props.acf.about')
