div(v-if='!loading')
  h1 Home props Example Below
  h3 {{ message }}
  pre {{ props }}
  strong Nested data
  pre {{ props.group.text_1 }}
  
  Loader(v-show='loading')
  Child(:props='props')
  MainVideo(v-if='!loading' :vid='videosource')