.nav
  .nav__bg
    .nav__container
      .nav__logo
        router-link(to='/')
          Icon(name='Logo')
      
      .nav__links
        .nav__links--top
          router-link.nav__link--top(v-for='link in links', :to='link.path' v-if='link.menu === "top"', :title='link.name')
            | {{ link.name }}
              
        .nav__links--bottom
          router-link.nav__link--bottom(v-for='link in links', :to='link.path' v-if='link.menu === "bottom"', :title='link.name')
            | {{ link.name }}
            
        //- .nav__links--bottom
        //-   .nav__link--bottom
        //-     | Properties 
        //-   .nav__link--bottom
        //-     | Startups
        //-   .nav__link--bottom
        //-     | Asset Money Maker
        //-   .nav__link--bottom
        //-     | Partnerships  
          
