.page-property(v-if='blog')
  HeroProperty(:blog='blog')
  .page-property__container
    .page-property__content
      .page-property__content--content(v-html='blog.acf.content')
    .page-property__gallery
      .page-property__slider
        SliderProperty(:blog='blog')
      .page-property__location
        .page-property__location--map(v-html='blog.acf.google_embed_link')
        .page-property__location--title
          | Location
        .page-property__location--address(v-html='blog.acf.location')
        //- PropertyMap(name='property-map')
  .page-property__features
    .page-property__feature-container
      .page-property__amenities
        .page-property__amenities--title Amenities
        ul.page-property__amenities-box
          li.page-property__amenities--amenity(v-for='(amenity, i) in blog.acf.amenities', :key='i' v-html='amenity.amenity')
      .page-property__details
        .page-property__details--title Property Detail
        .page-property__details--subtitle Location
        .page-property__details--address(v-html='blog.acf.location')
        .page-property__details--subtitle Unit Sizes
        .page-property__details--land-area(v-html='blog.acf.land_area')
        .page-property__details--subtitle Year Built
        .page-property__details--year-built(v-html='blog.acf.year_built')
        .page-property__details--subtitle Number of Floors
        .page-property__details--floors(v-html='blog.acf.number_of_floors')
        .page-property__details--subtitle Units
        .page-property__details--units(v-html='blog.acf.units')    
