.page-property(v-if='blog')
  HeroProperty(:blog='blog')
  .page-property__container
    router-link.page-property__back(to='/properties') < Back to Properties
    .page-property__content
      .page-property__content--content(v-html='blog.acf.content')
    .page-property__gallery
      .page-property__slider
        SliderProperty(:blog='blog')
      .page-property__location
        .page-property__location--map(v-html='blog.acf.google_embed_link')
        .page-property__location--title
          | Location
        .page-property__location--address(v-html='blog.acf.location')
        a.page-property__location--phone(v-html='blog.acf.phone_number', :href='"tel:+1" + blog.acf.phone_number')
        //- PropertyMap(name='property-map')
  .page-property__features
    .page-property__feature-container
      .page-property__amenities(v-if='blog.acf.amenities')
        .page-property__amenities--title Amenities
        ul.page-property__amenities-box
          li.page-property__amenities--amenity(v-for='(amenity, i) in blog.acf.amenities', :key='i' v-html='amenity.amenity')
      .page-property__details
        .page-property__details--title Property Detail
        .page-property__details--subtitle Location
        .page-property__details--address(v-html='blog.acf.location')
        a.page-property__details--phone(v-html='blog.acf.phone_number', :href='"tel:+1" + blog.acf.phone_number')
        .page-property__details--subtitle(v-if='blog.acf.unit_sizes') Unit Sizes
        .page-property__details--unit-sizes(v-html='blog.acf.unit_sizes', v-if='blog.acf.unit_sizes')
        .page-property__details--subtitle(v-if='blog.acf.year_built') Year Built
        .page-property__details--year-built(v-if='blog.acf.year_built', v-html='blog.acf.year_built')
        .page-property__details--subtitle(v-if='blog.acf.number_of_floors') Number of Floors
        .page-property__details--floors(v-if='blog.acf.number_of_floors', v-html='blog.acf.number_of_floors')
        .page-property__details--subtitle(v-if='blog.acf.units') Units
        .page-property__details--units(v-if='blog.acf.units', v-html='blog.acf.units')
        .page-property__details--subtitle(v-if='blog.acf.website_link') Website
        a.page-property__details--website(v-if='blog.acf.website_link', v-html='blog.acf.website_link', :href='blog.acf.website_link', target='_blank')
        .page-property__details--subtitle(v-if='blog.acf.year_sold') Year Sold
        .page-property__details--units(v-if='blog.acf.year_sold', v-html='blog.acf.year_sold')
        .page-property__details--misc(v-html='blog.acf.misc')
