.form-contact
  .form-contact__body
    form.form-contact__form(@submit.prevent='validate', method='post', v-if='!formSuccess')
      .form-contact__group.form-contact__group--col
        input.form-contact__input(name='name', v-model='name', v-validate="'required'", :class="{ 'form-contact__input--error': errors.has('name') }", type='text', placeholder='Full Name')
        //- span.form-contact__group--message(v-show="errors.has('name')") *Name Required
      .form-contact__group.form-contact__group--col
        input.form-contact__input(name='email', v-model='email', v-validate="'required|email'", :class="{ 'input': true, 'form-contact__input--error': errors.has('email') }", placeholder='Email')
        //- span.form-contact__group--message(v-show="errors.has('email')") *Email Required 
      .form-contact__group.form-contact__group--col
        input.form-contact__input(name='phone', v-model='phone', v-validate="'required'", :class="{ 'form-contact__input--error': errors.has('phone') }", type='text', placeholder='Phone Number')
        //- span.form-contact__group--message(v-show="errors.has('name')") *Phone Required
      .form-contact__group.form-contact__group--col
        .form-contact__carot-select
          Icon(name='Carot')
        select.form-contact__input(name='reason', v-model='reason', v-validate="'required'", :class="{ 'input': true, 'form-contact__input--error': errors.has('reason') }", placeholder='Reason')
          option(value='' disabled hidden) Reason for Contact
          option(value='Properties') Properties
          option(value='Private Equity') Private Equity
          option(value='Financial Investments') Financial Investments
          option(value='The Slater Foundation') The Slater Foundation
          option(value='Other') Other
        //- span.form-contact__group--message(v-show="errors.has('reason')") *Reason Required 
      .form-contact__group
        textarea.form-contact__textarea(name='message', v-model='message', rows='4', placeholder='Message')
      .form-contact__group.form-contact__group--submit(@click='validate', :disabled='formSubmitted')
        .form-contact__carot-submit
          Icon(name='Arrow')
        input.form-contact__submit-button(type='submit', value="Submit")
  .form-contact__logo-container
    a(:href='props.acf.contact.logo_link' target='blank')
      img.form-contact__logo(:src='props.acf.contact.logo')
    
