.form-contact
  .form-contact__body
      .form-contact__success-message(v-if='formSubmitted')
        h2 Thanks for submitting our form!
      form.form-contact__form(v-if='!formSubmitted', action='validate()' novalidate='novalidate' method='post')
        .form-contact__group.form-contact__group--col
          label.form-contact__label Your First and Last Name
          input.form-contact__input(name='full-name', v-model='name', :validate="'required'", :class="{ 'form-contact__input--error': errors.has('name') }", type='text')
          span.form-contact__group--message(v-show="errors.has('name')") *Name Required
        .form-contact__group.form-contact__group--col
          label.form-contact__label Your Email
          input.form-contact__input(name='email', v-model='email', v-validate="'required|email'", :class="{ 'input': true, 'form-contact__input--error': errors.has('email') }")
          span.form-contact__group--message(v-show="errors.has('email')") *Email Required 
        .form-contact__group
          label.form-contact__label Your Subject
          input.form-contact__input(name='subject', v-model='subject', v-validate="'required'", :class="{ 'input': true, 'form-contact__input--error': errors.has('subject') }")
          span.form-contact__group--message(v-show="errors.has('email')") *Subject Required   
        .form-contact__group
          label.form-contact__label Your Message
          textarea.form-contact__textarea(name='message', v-model='message', rows='5')
        .form-contact__group.form-contact__group--submit
          input.form-contact__submit-button(type='submit', value="Send")
    
