.form-contact
  .form-contact__body
      .form-contact__success-message(v-if='formSubmitted')
        h2 Thanks for submitting our form!
      form.form-contact__form(v-if='!formSubmitted', action='http://slater-holding.roostertest3.com/thank-you#wpcf7-f420-o1' novalidate='novalidate' class='wpcf7-form' method='post')
        div(style='display: none')
          input(type='hidden' name='_wpcf7' value='420')
          input(type='hidden' name='_wpcf7_version' value='5.0.1')
          input(type='hidden' name='_wpcf7_locale' value='en_US')
          input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f420-o1')
          input(type='hidden' name='_wpcf7_container_post' value='0')
        .form-contact__group.form-contact__group--col
          label.form-contact__label Your First and Last Name
          input.form-contact__input(name='full-name', v-model='name', :validate="'required'", :class="{ 'form-contact__input--error': errors.has('name') }", type='text')
          span.form-contact__group--message(v-show="errors.has('name')") *Name Required
        .form-contact__group.form-contact__group--col
          label.form-contact__label Your Email
          input.form-contact__input(name='email', v-model='email', v-validate="'required|email'", :class="{ 'input': true, 'form-contact__input--error': errors.has('email') }")
          span.form-contact__group--message(v-show="errors.has('email')") *Email Required 
        .form-contact__group
          label.form-contact__label Your Subject
          input.form-contact__input(name='subject', v-model='subject', v-validate="'required'", :class="{ 'input': true, 'form-contact__input--error': errors.has('subject') }")
          span.form-contact__group--message(v-show="errors.has('email')") *Subject Required   
        .form-contact__group
          label.form-contact__label Your Message
          textarea.form-contact__textarea(name='message', rows='5')
        .form-contact__group.form-contact__group--submit
          input.form-contact__submit-button(type='submit', value="Send")
    
