.custom-about-two-columns
  .custom-about-two-columns__container
    .custom-about-two-columns__title(v-html='props.acf.custom_about_two_columns.title')
    .custom-about-two-columns__content(v-html='props.acf.custom_about_two_columns.content')
