.footer
  pre {{ props }}
  .footer__container
    .footer__columns
      .footer__column
        p 555-555-5555
        p info@slaterholdings.com
        p CONTACT US > 
      .footer__column
        p 555 Street Address
        p Boston, MA 55555
      .footer__column
        p PRIVACY POLICY > 
        p TERMS OF US >
      .footer__column
        p © 2017 Slater Holdings 
        p All Rights Reserved. 
        p Website by Rooster Grin
