.footer(v-if='props.props')
  .footer__container
    .footer__columns
      .footer__column
        a.footer__column--email(v-html='props.props.acf.footer.email', :href='props.props.acf.footer.email_href')
        router-link.footer__column--link(to='/contact')
          | Contact Us
          Icon.footer__column--arrow(name='Arrow')  
      .footer__column
        a.footer__column--address(v-html='props.props.acf.footer.address', :href='props.props.acf.footer.address_href', target='_blank')
        a.footer__column--phone(v-html='props.props.acf.footer.phone_number', :href='props.props.acf.footer.phone_number_href')
      .footer__column
        a.footer__column--address(v-html='props.props.acf.footer.address_two', :href='props.props.acf.footer.address_two_href', target='_blank')
        a.footer__column--phone(v-html='props.props.acf.footer.phone_number_two', :href='props.props.acf.footer.phone_number_two_href')
      .footer__column
        router-link.footer__column--link(to='/privacy-policy')
          | Privacy Policy
          Icon.footer__column--arrow(name='Arrow')
        router-link.footer__column--link(to='/terms-of-use')
          | Terms of Use
          Icon.footer__column--arrow(name='Arrow')

      .footer__column
        .footer__column--copyright
          | © !{new Date().getFullYear()} Slater Holdings.

          br
          | All Rights Reserved. 
        .footer__column--credit 
          | An 
          a.footer__column--rg(href='https://imagebox.com/', target='_blank') Imagebox 
          | and 
          a.footer__column--rg(href='https://roostergrin.com/', target='_blank') Rooster Grin 
          | collaboration
