.custom-home-service
  .custom-home-service__bg
    .custom-home-service__container
      .custom-home-service__left
        img.custom-home-service__image(:src='props.image')
          
      .custom-home-service__right
        .custom-home-service__right--title(v-html='props.title')
        .custom-home-service__right--content(v-html='props.content')
        .custom-home-service__right--links
          router-link.custom-home-service__right--link(to='/partnerships')
            | Partnerships  
            .custom-home-service__right--carot
              Icon(name='Arrow')
          router-link.custom-home-service__right--link(to='/asset-money-maker')
            | Asset Money Maker
            .custom-home-service__right--carot
              Icon(name='Arrow')
