.custom-home-service

  &__bg
    background: #f3f3f3

  &__container
    @extend .container-fluid

  &__left
    @extend .col-sm-6
    margin: 3rem 0
    text-align: center

  &__right
    @extend .col-sm-6
    margin: 6rem 0

    @media(max-width: 1024px)
      margin: 1rem 0

    &--carot
      margin-left: 12px
      width: 14px
      fill: $c1

    &--title
      margin-bottom: 2rem
      color: $c1
      font-size: 42px
      font-weight: 300

    &--content
      font-size: 18px

    &--links
      display: flex
      margin-top: 18px

      @media(max-width: 1024px)
        display: block

    &--link
      display: flex
      margin-right: 36px
      text-transform: uppercase
      text-decoration: none
      color: $c1
      font-size: 16px
      font-weight: 700

      &:hover
        color: $c5

      @media(max-width: 1024px)
        margin-bottom: 24px

  &__image
    width: 50%
