.custom-home-startup
  display: flex

  @media(max-width: 1024px)
    display: block

  &__container
    @extend .container-fluid

  &__left
    background: #10233e
    padding: 8rem 3rem
    width: 50%
    height: 636px

    @media(max-width: 1024px)
      width: 100%

  &__right
    width: 50%
    height: 636px

    @media(max-width: 1024px)
      width: 100%
      
  &__arrows
    margin-bottom: 24px
    color: $c2
    font-size: 42px

  &__subtitle
    margin-bottom: 12px
    text-transform: uppercase
    color: $c2
    font-size: 18px
    font-weight: 700

  &__title
    margin-bottom: 12px
    color: $c3
    font-size: 42px
    font-weight: 300

  &__content
    margin-bottom: 24px
    line-height: 28px
    color: $c3
    font-size: 18px

  &__link
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 0.71px
    color: $c3
    font-weight: 700
