.custom-sports-entertainment-grizzlies
  .custom-sports-entertainment-grizzlies__container
    .custom-sports-entertainment-grizzlies__col--right.custom-sports-entertainment-grizzlies__mb-20
        img.custom-sports-entertainment-grizzlies__image(:src='props.limage')
    .custom-sports-entertainment-grizzlies__col--left
      h2.custom-sports-entertainment-grizzlies__title(v-html='props.heading')
      .custom-sports-entertainment-grizzlies__content(v-html='props.text1')
    .custom-sports-entertainment-grizzlies__col--right
      a(href='https://www.nba.com/grizzlies/', target='_blank')
        img.custom-sports-entertainment-grizzlies__image(:src='props.rimage')
