.nav-desktop
  .nav-desktop__bg
    .nav-desktop__container
      .nav-desktop__logo
        router-link(to='/')
          Icon(name='Logo')
      
      .nav-desktop__links
        .nav-desktop__links--top
              
        .nav-desktop__links--bottom
          router-link.nav-desktop__link--bottom(v-for='(bottomlink, j) in links', :to='bottomlink.path' v-if='bottomlink.menu === "bottom"', :title='bottomlink.name', :key='j', :class="{ 'nav-desktop__link--bottom--active': bottomlink.name === $store.state.nav }")
            | {{ bottomlink.name }}
