.custom-asset-money-maker-intro
  .custom-asset-money-maker-intro__bg
    .custom-asset-money-maker-intro__container
      .custom-asset-money-maker-intro__title(v-html='props.title')
      .custom-asset-money-maker-intro__subtitle(v-html='props.subtitle')
      .custom-asset-money-maker-intro__content(v-html='props.content')
