.custom-green-initiative-intro
  .custom-green-initiative-intro__bg
    .custom-green-initiative-intro__container
      .custom-green-initiative-intro__title(v-html='props.title')
      .custom-green-initiative-intro__subtitle(v-html='props.subtitle')
      .custom-green-initiative-intro__content(v-html='props.content')
