.hero-property(v-if='props')
  .hero-property__bg(:style="{ backgroundImage: 'url(' + props.background + ')'}")
    .hero-property__overlay
      .hero-property__container
        .hero-property__headline(v-html='props.title')
