.hero-property
  .hero-property__bg(:style="{ backgroundImage: 'url(' + props.background + ')'}")
    .hero-property__overlay
      .hero-property__container
        .hero-property__headline
          .hero-property__title(v-html='props.title')
