.hero
  .hero__bg(:style="{ backgroundImage: 'url(' + blog.acf.hero.background + ')'}")
    .hero__overlay
      .hero__container
        .hero__headline
          .hero__title(v-html='blog.acf.hero.title')
