.custom-financial-investments-intro
  .custom-financial-investments-intro__bg
    .custom-financial-investments-intro__container
      .custom-financial-investments-intro__tagline(v-html='props.tagline')
      .custom-financial-investments-intro__title(v-html='props.title')
      .custom-financial-investments-intro__content(v-html='props.content')
