.custom-about-three-columns
  .custom-about-three-columns__container
    .custom-about-three-columns__left
      .custom-about-three-columns__left--title(v-html='props.left_column_title')
      .custom-about-three-columns__left--content(v-html='props.left_column_content')
    .custom-about-three-columns__middle
      .custom-about-three-columns__middle--title(v-html='props.middle_column_title')
      .custom-about-three-columns__middle--content(v-html='props.middle_column_content')
    .custom-about-three-columns__right
      .custom-about-three-columns__right--title(v-html='props.right_column_title')
      .custom-about-three-columns__right--content(v-html='props.right_column_content')
